.modal {
    position: fixed;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: blue;
    width: fit-content;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;


}

.contanier {
    width: 100%;
    height: 100%;

}

.img {

    width: 100%;
    height: 100%;
    object-fit: contain;
}